<div fxLayout="row" fxLayoutAlign="space-around start" fxFlex fxFill>
  <div class="container">
    <div fxLayout="column">
      <h1>@protacon/ng-virtual-keyboard</h1>

      <div fxLayout="row" fxLayoutAlign="start center" class="badges">
        <a href="{{ badge.link }}" *ngFor="let badge of badges"><img [src]="badge.img" /></a>
      </div>
    </div>

    <div fxLayout="column">
      <h2>What is this?</h2>

      <p>
        Virtual Keyboard for Angular applications.
      </p>
    </div>

    <div fxLayout="column">
      <h2>Install</h2>

      <h4>Step 1: Install @protacon/ng-virtual-keyboard</h4>

      <pre>
<code>$ npm install --save @protacon/ng-virtual-keyboard</code></pre>

      <h4>Step 2: Import the module</h4>

      <p>
        Add <code>NgVirtualKeyboardModule</code> as an import in your app's root NgModule.
      </p>

      <pre>
<code>import {{ '{' }} NgVirtualKeyboardModule {{ '}' }} from '@protacon/ng-virtual-keyboard';

@NgModule({{ '{' }}
  ...
  imports: [
    ...
    NgVirtualKeyboardModule,
  ],
  ...
{{ '}' }})
export class AppModule {{ '{' }} {{ '}' }}</code></pre>
    </div>

    <h2>Usage</h2>

    <p>
      Simple usage example
    </p>

    <pre>
<code>&lt;input type="text" value=""
  ng-virtual-keyboard
  ng-virtual-keyboard-layout="alphanumeric"
  ng-virtual-keyboard-placeholder="Custom placeholder text"
/&gt;</code></pre>

    <h2>Demos</h2>

    <h4>Built in layouts</h4>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
      <div fxFlex="180px">
        <h3 class="text-right">
          <sup>Layout</sup>/<sub>Info</sub>
        </h3>
      </div>

      <strong class="content" fxFlex>
        Minimal
      </strong>

      <strong class="content" fxFlex>
        With placeholder
      </strong>

      <strong class="content" fxFlex>
        With custom placeholder
      </strong>

      <strong class="content" fxFlex>
        With maxlength="5"
      </strong>

      <strong class="content" fxFlex>
        Password
      </strong>
    </div>

    <div fxLayout="row" fxFlex *ngFor="let layout of layouts">
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
        <strong class="text-right" fxFlex="180px">{{ layout.name }}</strong>

        <div class="content"
          fxLayout="column"
          fxFlex
        >
          <md-input-container>
            <input value=""
              mdInput
              ng-virtual-keyboard
              [ng-virtual-keyboard-layout]="layout.layout"
            />
          </md-input-container>
        </div>

        <div class="content"
          fxLayout="column"
          fxFlex
        >
          <md-input-container>
            <input value="" placeholder="{{ layout.placeholder }}"
              mdInput
              ng-virtual-keyboard
              [ng-virtual-keyboard-layout]="layout.layout"
            />
          </md-input-container>
        </div>

        <div class="content"
          fxLayout="column"
          fxFlex
        >
          <md-input-container>
            <input value="" placeholder="{{ layout.placeholder }}"
              mdInput
              ng-virtual-keyboard
              [ng-virtual-keyboard-layout]="layout.layout"
              [ng-virtual-keyboard-placeholder]="layout.placeholderCustom"
            />
          </md-input-container>
        </div>

        <div class="content"
          fxLayout="column"
          fxFlex
        >
          <md-input-container>
            <input value="" placeholder="With maxlength=5" maxlength="5"
              mdInput
              ng-virtual-keyboard
              [ng-virtual-keyboard-layout]="layout.layout"
            />
          </md-input-container>
        </div>

        <div class="content"
          fxLayout="column"
          fxFlex
        >
          <md-input-container>
            <input value="" placeholder="Password"
              type="password"
              mdInput
              ng-virtual-keyboard
              [ng-virtual-keyboard-layout]="layout.layout"
            />
          </md-input-container>
        </div>
      </div>
    </div>

    <h4>Custom Layout</h4>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
      <strong class="text-right" fxFlex="180px"></strong>

      <div class="content"
        fxLayout="column"
        fxFlex
      >
        <md-input-container>
          <input value="" placeholder="Keyboard with custom layout"
              mdInput
              ng-virtual-keyboard
              [ng-virtual-keyboard-layout]="customLayout"
          />
        </md-input-container>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around start" fxFlex>
      <strong class="text-right" fxFlex="180px">Custom layout definition</strong>

      <div class="content"
        fxLayout="column"
        fxFlex
      >
        <md-input-container>
          <textarea mdInput [(ngModel)]="customLayoutValue" rows="10"></textarea>

          <md-hint *ngIf="invalid">
            Given layout is not valid JSON - use <code>Array&lt;Array&lt;string&gt;&gt;</code> format
          </md-hint>
        </md-input-container>
      </div>
    </div>
  </div>
</div>
