<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
    <div fxFlex="180px">
      <h1><sup>Layout</sup>/<sub>Info</sub></h1>
    </div>

    <strong class="content" fxFlex="200px">
      Minimal
    </strong>

    <strong class="content" fxFlex="200px">
      With placeholder
    </strong>

    <strong class="content" fxFlex="200px">
      With custom placeholder
    </strong>

    <strong class="content" fxFlex="200px">
      With maxlength="5"
    </strong>

    <div fxFlex></div>
  </div>

  <div fxLayout="row" fxFlex *ngFor="let layout of layouts">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
      <strong style="text-align: right;" fxFlex="180px">{{ layout.name }}</strong>

      <div class="content" fxLayout="column" fxFlex="200px">
        <md-input-container>
          <input value=""
            mdInput
            ng-virtual-keyboard
            [ng-virtual-keyboard-layout]="layout.layout"
          />
        </md-input-container>
      </div>

      <div class="content" fxLayout="column" fxFlex="200px">
        <md-input-container>
          <input value="" placeholder="{{ layout.placeholder }}"
            mdInput
            ng-virtual-keyboard
            [ng-virtual-keyboard-layout]="layout.layout"
          />
        </md-input-container>
      </div>

      <div class="content" fxLayout="column" fxFlex="200px">
        <md-input-container>
          <input value="" placeholder="{{ layout.placeholder }}"
            mdInput
            ng-virtual-keyboard
            [ng-virtual-keyboard-layout]="layout.layout"
            [ng-virtual-keyboard-placeholder]="layout.placeholderCustom"
          />
        </md-input-container>
      </div>

      <div class="content" fxLayout="column" fxFlex="200px">
        <md-input-container>
          <input value="" placeholder="{{ layout.placeholder }}" maxlength="5"
            mdInput
            ng-virtual-keyboard
            [ng-virtual-keyboard-layout]="layout.layout"
            [ng-virtual-keyboard-placeholder]="layout.placeholderCustom"
          />
        </md-input-container>
      </div>

      <div fxFlex></div>
    </div>
  </div>
</div>