<div class="container">
    <div fxLayout="row" fxFlex fxFlexFill>
        <div fxLayout="column" fxFlex="300px">
            <h1>Layouts</h1>

            <h2>Alpha numeric</h2>

            <md-input-container>
                <input value=""
                       mdInput
                       ng-virtual-keyboard
                       ng-virtual-keyboard-layout="alphaNumeric"
                />
            </md-input-container>

            <h2>Alpha numeric - nordic</h2>

            <md-input-container>
                <input value=""
                       mdInput
                       ng-virtual-keyboard
                       ng-virtual-keyboard-layout="alphaNumericNordic"
                />
            </md-input-container>

            <h2>Extended</h2>

            <md-input-container>
                <input value=""
                   mdInput
                   ng-virtual-keyboard
                   ng-virtual-keyboard-layout="extended"
                />
            </md-input-container>

            <h2>Extended - Nordic</h2>

            <md-input-container>
                <input value=""
                    mdInput
                    ng-virtual-keyboard
                    ng-virtual-keyboard-layout="extendedNordic"
                />
            </md-input-container>

            <h2>Numeric</h2>

            <md-input-container>
                <input value=""
                       mdInput
                       ng-virtual-keyboard
                       ng-virtual-keyboard-layout="numeric"
                />
            </md-input-container>

            <h2>Phone</h2>

            <md-input-container>
                <input value=""
                       mdInput
                       ng-virtual-keyboard
                       ng-virtual-keyboard-layout="phone"
                />
            </md-input-container>
        </div>
    </div>
</div>