<div class="container">
  <div fxLayout="column">
    <md-input-container>
      <button class="close" color="primary" md-mini-fab
        (click)="close()"
      >
        <md-icon>check</md-icon>
      </button>

      <input type="text"
        mdInput
        #keyboardInput
        (click)="updateCaretPosition()"
        [(ngModel)]="inputElement.nativeElement.value" placeholder="{{ placeholder }}"
        [maxLength]="getMaxLength()"
      />
    </md-input-container>

    <div fxLayout="row" fxLayoutAlign="center center"
      *ngFor="let row of layout; let rowIndex = index"
      [attr.data-index]="rowIndex"
    >
      <virtual-keyboard-key
        *ngFor="let key of row; let keyIndex = index"
        [key]="key"
        [disabled]="disabled"
        [attr.data-index]="keyIndex"
        (keyPress)="keyPress($event)"
      ></virtual-keyboard-key>
    </div>
  </div>
</div>
